///*
// * Component: FileUpload
// * -----------------------
// */
$btn-file-thumbnail-width: 150px;
$btn-file-thumbnail-height: 120px;
$btn-file-thumbnail-bg-color: #eee;

$btn-file-tip-font-size: 13px;
$btn-file-tip-height: 20px;
$btn-file-tip-color: #777;

.btn-file{
  display: inline-block;
  position: relative;
  overflow: hidden;

  input[type=file],
  .upload{
    display: block;
    width: 100%;
    height: 100%;
    font-size: 100rem;
    text-align: right;

    @include absolute();
    z-index: 3;

    @include opacity(0);
    cursor: inherit;
    outline: none;
    background: white;
  }

  & > .btn-file-thumbnail{
    width: $btn-file-thumbnail-width;
    height: $btn-file-thumbnail-height;
    background: $btn-file-thumbnail-bg-color;

    & > .btn-file-preview{
      display: inline-block;
      width: 100%;
      position: relative;
    }

    & > .btn-file-tip{
      display: inline-block;
      font-size: $btn-file-tip-font-size;
      color: inherit;
      text-align: center;

      @include center-vertical($btn-file-tip-height);
    }
  }
  & .btn-file-preview{
    img{
      width: 100%;
      height: 100%;
      max-width: 100%;
    }
  }
}


