///*
// * Component: Nav
// * --------------
// */

.nav {
  > li > a:hover,
  > li > a:active,
  > li > a:focus {
    color: #444;
    background: #f7f7f7;
  }
}

///* NAV PILLS */
.nav-pills {
  > li > a {
    @include border-radius(0);
    border-top: 3px solid transparent;
    color: #444;
    > .fa,
    > .glyphicon,
    > .ion {
      margin-right: 5px;
    }
  }
  > li.active > a,
  > li.active > a:hover,
  > li.active > a:focus {
    border-top-color: $light-blue;
  }
  > li.active > a {
    font-weight: 600;
  }
}

///* NAV STACKED */
.nav-stacked {
  > li > a {
    @include border-radius(0);
    border-top: 0;
    border-left: 3px solid transparent;
    color: #444;
  }
  > li.active > a,
  > li.active > a:hover {
    background: transparent;
    color: #444;
    border-top: 0;
    border-left-color: $light-blue;
  }

  > li.header {
    border-bottom: 1px solid #ddd;
    color: #777;
    margin-bottom: 10px;
    padding: 5px 10px;
    text-transform: uppercase;
  }
}



///* PAGINATION */
.pagination {
  > li > a {
    background: #fafafa;
    color: #666;
  }
  &.pagination-flat {
    > li > a {
      @include border-radius(0);
    }
  }
}
