///*
// * Component: Plate
// * ----------------------
// */
.plate{
	display: block;
	min-width: 230px;
	border: 1px solid #ddd;
	background: #fff;
	.header,
	.content{
		padding: 10px;
	}
	.header{
		font-size: 14px;
		color: #333;
		background : #F8F8F8;
		border-bottom: 1px solid #eee;
		text-align: center;
		margin: 0;
	}
}
.plates-group{
	&,
	&.column,
	&.row{
		margin-left: 0;
		margin-right: 0;
	}
	@include clearfix;

	&.column .plate,
	&.aside .plate{
		float: left;
	}
	&.column.pane{
		border: 1px solid #eee;
		.plate{
			border: 0;
			padding: 20px 0;
			background: #FAFAFA;
		}
		.plate .content{
			border-right: 1px solid #eee;
			padding: 5px;
			text-align: center;
		}
		.plate:last-child .content{
			border-right: 0;
		}
		.content.statistic{
			display: block;
		}
		.content.statistic,
		.content .statistic{
			margin: 0;
		}
	}
	&.vertical .plate{
		margin-top: 10px;
	}
	&.aside .plate{
		&:first-child{
			float: left;
			width: 230px;
			max-width: 230px;
		}
		&:last-child{
			float: none;
			width: 100%;
			margin-left: 240px;
		}
	}
	&.aside .plate:last-child .header{
		text-align: left;
	}
	&.fixed .plate:first-child{
		position: fixed;
		height: 100%;
	}
}