///*
// * Component: Search
// * ----------------
// */
.btn-search{
  padding: 10px 15px;
  margin: 0;
  border: none;

  > .form-group{
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
  }

}