/* Theme  */
.blue,
.grey{
  left: 0;
  right: 0;
  border-bottom: 1px solid #D7D5D6;

  .autocompleter-item{
    font-size: 13px;
  }
}
.blue{
  .autocompleter-item:hover{
    color: #fff;
    background-color: #2196F3 ;
  }
}
.grey{
  .autocompleter-item:hover{
    background: #f1f1f1 ;
    color: #000 ;
  }
}