//@import "mixin/image";

.image{
  display: inline-block;
  vertical-align: middle;
  max-width: 100%;
  position: relative;
  background: transparent;
}
.avatar{
  @extend .image;
  width: $avatar-image;
  height: $avatar-image;
}
// Avatar size
// ------------------------------------------
@include avatar-size;
// Image size
// ------------------------------------------
@include image-size;
// Image align
// ------------------------------------------
.image-center{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
@include image-align;
// Image border
// ------------------------------------------
.img-bordered {
  border: 3px solid $gray-lte;
  padding: 3px;
}
.img-bordered-sm {
  border: 2px solid $gray-lte;
  padding: 2px;
}